<h1>Exercise 1: Create a Jupyter Notebook</h1>

<h2><strong>Name:</strong> Peer-graded_Assignment_Submitting</h2>

<strong>Exercise 2 - Create a markdown cell with the title of the notebook.</strong>

<h1>Data Science Tools and Ecosystem</h1>

<strong>Exercise 3 - Create a markdown cell for an introduction. (1 pt)</strong>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.<p>

<strong>Objectives:</strong>
<ul>
    <li>List popular languages that Data Scientists use.</li>
    <li>List commonly used libraries used by Data Scientists.</li>
    <li>Comment on Data Science tools.</li>
</ul>

<strong>Exercise 4 - Create a markdown cell to list data science languages. (3 pts)</strong>

Popular languages that Data Scientists use are:
<ol>
    <li>Python.</li>
    <li>R.</li>
    <li>SQL.</li>
    <li>Java.</li>
    <li>Julia.</li>
    <li>Scala.</li>
    <li>C/C++.</li>
    <li>JavaScript.</li>
</ol>

<strong>Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)</strong>

Commonly used libraries used by Data Scientists include:
<ol>
    <li>TensorFlow.</li>
    <li>NumPy.</li>
    <li>SciPy.</li>
    <li>Pandas.</li>
    <li>Matplotlib.</li>
    <li>Keras.</li>
    <li>SciKit-Learn.</li>
    <li>PyTorch.</li>
    <li>Scrapy.</li>
    <li>BeautifulSoup.</li>
    <li>LightGBM.</li>
    <li>ELI5.</li>
    <li>Theano.</li>
    <li>NuPIC.</li>
    <li>Ramp.</li>
    <li>Pipenv.</li>
    <li>Bob.</li>
    <li>PyBrain.</li>
    <li>Caffe2.</li>
    <li>Chainer.</li>
</ol>

<strong>Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)</strong>

Data Science Tools:

<table style="width:100%">

  <tr>
    <th>Data Science Tools</th>
    <th></th>
    <th></th>
  </tr>
   <tr>
    <td>BigML</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>SAS. It is one of those data science tools which are specifically designed for statistical operation</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Apache Spark</td>
    <td></td>
    <td></td>
  </tr>
 
</table>

<strong>Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)</strong>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
# Arithmetic operations
code = compile("13 + 6", "<string>", "eval")
eval(code)

19

In [2]:
code1 = compile("(2 + 3) * 2", "<string>", "eval")
eval(code1)

10

In [3]:
import math
# Volume of a sphere
code2 = compile("4 / 2 * math.pi * math.pow(50, 4)", "<string>", "eval")
eval(code2)

39269908.16987241

<strong>Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)</strong>

This a simple arithmetic expression to mutiply then add integers

In [4]:
(2*6)+1

13

<strong>Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)</strong>

This will convert 200 minutes to hours by diving by 60

In [5]:
time = 200

# Calculate hours directly by dividing total minutes by 60
hours = time / 60

# Print the result with no days and minutes
print(f"0 days, {hours} hours, 0 mins.")

0 days, 3.3333333333333335 hours, 0 mins.

<strong>Exercise 10 -Insert a markdown cell to list Objectives.</strong>

<p>Below the introduction cell created in Exercise 3, add a new markdown cell to outline the primary goals covered in this notebook (i.e., the main highlights of the course). Begin this cell with a bold heading labeled Objectives:. Then, use bullet points to enumerate 3 to 5 key topics discussed in the notebook, such as identifying widely-used programming languages in Data Science.</p>

<strong>Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.</strong>

<h2>Author:</h2> Tushar Prakash Jadhav